{% extends 'home/index.html.twig' %}
{% block title %}Nuevo Usuario{% endblock %}
{% block content %}
    <h1>Crear Nuevo Usuario</h1>
    {{ include('secure/crud_user/_form.html.twig') }}
{% endblock %}
