{% extends 'home/index.html.twig' %}

{% block title %}Nueva Imagen de Portada{% endblock %}

{% block content %}
    <h1>Nueva Imagen de Portada</h1>

    {{ include('secure/cover_image/_form.html.twig') }}

{% endblock %}
