{% extends 'home/index.html.twig' %}
{% block title %}Nueva Etiqueta{% endblock %}

{% block content %}
    <h1>Crear nueva etiqueta</h1>
    {{ include('secure/crud_tag/_form.html.twig') }}
{% endblock %}
