{% extends 'home/index.html.twig' %}

{% block title %}Nueva Configuración{% endblock %}

{% block content %}
    <h1>Crear Nueva Configuración</h1>
      {{ include('secure/configuration/_form.html.twig') }}
{% endblock %}
