{% extends 'home/index.html.twig' %}
{% block title %}Nueva imágen de anuncios{% endblock %}

{% block content %}
    <h1>Crear nueva imágen de anuncios</h1>
    {{ include('secure/crud_advertisements/_form.html.twig') }}
{% endblock %}
