{% extends 'home/index.html.twig' %}

{% block title %}Nuevo cliente
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-12">
			<h1 class="mr-auto mb-0 title-table">Nuevo cliente</h1>
		</div>
		<div class="col-12 mt-3">
			<div class="row my-2">
				<div class="col-3">
					<label for="exampleFormControlInput1" class="form-label">Tipo de cliente</label>
					<select class="form-select" aria-label="Default select example">
						<option selected hidden disabled>Seleccione un tipo de cliente</option>
						<option value="1">Empresa</option>
						<option value="2">Persona</option>
					</select>
				</div>
			</div>
			<div class="row my-2">
				<div class="col-12">
					<h5 class="mr-auto mb-0 title-table">Datos del cliente</h5>
				</div>
			</div>
			<div class="row my-2">
				<div class="col">
					<label for="exampleFormControlInput1" class="form-label">Razon social [[[SI ES EMPRESA MUESTRA ESTA OPCIÓN]]]</label>
					<input type="text" class="form-control" placeholder="Razon social" aria-label="Razon social">
				</div>
			</div>
			<div class="row my-2">
				<div class="col">
					<label for="exampleFormControlInput1" class="form-label">Nombres [[[SI ES PERSONA MUESTRA ESTA OPCIÓN]]]</label>
					<input type="text" class="form-control" placeholder="Nombres" aria-label="Nombres">
				</div>
				<div class="col">
					<label for="exampleFormControlInput1" class="form-label">Apellidos</label>
					<input type="text" class="form-control" placeholder="Apellidos" aria-label="Apellidos">
				</div>
			</div>
			<div class="row my-2">
				<div class="col">
					<label for="exampleFormControlInput1" class="form-label">Email</label>
					<input type="text" class="form-control" placeholder="Email" aria-label="Email">
				</div>
			</div>
			<hr>
			<div class="row my-2">
				<div class="col-12">
					<h5 class="mr-auto mb-0 title-table">Teléfono celular</h5>
				</div>
			</div>
			<div class="row my-2">

				<div class="col-4">
					<label for="exampleFormControlInput1" class="form-label">Cod. País</label>
					<input type="text" class="form-control" placeholder="Cod. País" aria-label="Cod. País">
				</div>
				<div class="col-4">
					<label for="exampleFormControlInput1" class="form-label">Cod. Área</label>
					<input type="text" class="form-control" placeholder="Cod. Área" aria-label="Cod. Área">
				</div>
				<div class="col-4">
					<label for="exampleFormControlInput1" class="form-label">Nro.</label>
					<input type="text" class="form-control" placeholder="Nro." aria-label="Nro.">
				</div>
			</div>
			<hr>
			<div class="row my-2">
				<div class="col-12">
					<h5 class="mr-auto mb-0 title-table">Teléfono fijo</h5>
				</div>
			</div>
			<div class="row my-2">

				<div class="col-4">
					<label for="exampleFormControlInput1" class="form-label">Cod. País</label>
					<input type="text" class="form-control" placeholder="Cod. País" aria-label="Cod. País">
				</div>
				<div class="col-4">
					<label for="exampleFormControlInput1" class="form-label">Cod. Área</label>
					<input type="text" class="form-control" placeholder="Cod. Área" aria-label="Cod. Área">
				</div>
				<div class="col-4">
					<label for="exampleFormControlInput1" class="form-label">Nro.</label>
					<input type="text" class="form-control" placeholder="Nro." aria-label="Nro.">
				</div>
			</div>

			<hr>
			<div class="row my-2">
				<div class="col-12">
					<h5 class="mr-auto mb-0 title-table">Dirección</h5>
				</div>
			</div>
			<div class="row my-2">

				<div class="col-4">
					<label for="exampleFormControlInput1" class="form-label">País</label>
					<input type="text" class="form-control" placeholder="País" aria-label="País">
				</div>
				<div class="col-4">
					<label for="exampleFormControlInput1" class="form-label">Estado</label>
					<input type="text" class="form-control" placeholder="Estado" aria-label="Estado">
				</div>
				<div class="col-4">
					<label for="exampleFormControlInput1" class="form-label">Ciudad</label>
					<input type="text" class="form-control" placeholder="Ciudad" aria-label="Ciudad">
				</div>

			</div>
			<div class="row my-2">

				<div class="col-8">
					<label for="exampleFormControlInput1" class="form-label">Dirección</label>
					<input type="text" class="form-control" placeholder="Dirección" aria-label="Dirección">
				</div>

				<div class="col-4">
					<label for="exampleFormControlInput1" class="form-label">Nro.</label>
					<input type="text" class="form-control" placeholder="Nro." aria-label="Nro.">
				</div>

			</div>
			<div class="row my-2">

				<div class="col-4">
					<label for="exampleFormControlInput1" class="form-label">Piso</label>
					<input type="text" class="form-control" placeholder="Piso" aria-label="Piso">
				</div>

				<div class="col-4">
					<label for="exampleFormControlInput1" class="form-label">Dpto</label>
					<input type="text" class="form-control" placeholder="Dpto" aria-label="Dpto">
				</div>

				<div class="col-4">
					<label for="exampleFormControlInput1" class="form-label">Cod. Postal</label>
					<input type="text" class="form-control" placeholder="Cod. Postal" aria-label="Cod. Postal">
				</div>

			</div>
			<div class="row my-2">

				<div class="col-12">
					<label for="exampleFormControlInput1" class="form-label">Información adicional</label>
					<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Información adicional" aria-label="Información adicional"></textarea>
				</div>
			</div>
            <div class="row my-2">

				<div class="col-12 text-end">
                    <button class="btn btn-secondary">Cancelar</button>

                    <button class="btn btn-primary">Guardar</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
